[package]
name = "idf_env"
version = "1.2.3"
authors = ["Juraj Michalek <juraj.michalek@espressif.com>"]
edition = "2018"

[dependencies]
anyhow = "*"
clap = "*"
clap-nested = "*"
dirs = "*"
json = "*"
md5 = "*"
num_cpus = "*"
reqwest = "*"
tokio = { version = "1", features = ["full"] }
walkdir = "*"
wmi = "*"
widestring = "*"
winapi = { version = "*", features = ["setupapi", "handleapi", "processthreadsapi", "winnt", "securitybaseapi", "impl-default", "shellapi"] }
zip = "*"

[target.'cfg(windows)'.dependencies]
winreg = "0.7"

[[bin]]
name = "idf-env"
path = "src/idf_env.rs"
